# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Flask specific
instance/
*.log

# Coverage report
.coverage
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# dotenv
.env
